<style>
    body {
        padding: 7% 15%
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    #search{
        font-size: larger;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

   <button id='button_modal' type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Lihat buku terfavorit
      </button>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Buku</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <table id='modal_table'>
                <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
                        <th>Authors</th>
                        <th>Publisher</th>
                        <th>Publised Date</th>
                        <th>like</th>
                    </tr>
                    {% for book in allBook %}
                    <tr>
                        <td>{{book.title}}</td>
                        <td>{{book.authors}}</td>
                        <td>{{book.publisher}}</td>
                        <td>{{book.published_date}}</td>
                        <td>{{book.like_count}}</td>
                    </tr>

                    {% endfor %}

                </thead>
            </table>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div> 










    <p id="search">search: <input class="form-control" type="text" id="txt1" onkeyup="show(this.value)"></p>
    <div >
        <table id="lol">
            <thead class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Publisher</th>
                    <th>Publised Date</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    
    <script>

//         $('#button_modal').click(function(){
//             $('#modal_table').append({{book.title}})
//         });
//  






        function show(str){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (str.length == 0) { 
                    document.getElementById("lol").innerHTML = "";
                    return;
                }
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    for(index = 0; index < data.items.length; index++){
                        var title = data.items[index].volumeInfo.title;
                        var desc = data.items[index].volumeInfo.description;
                        var publishedDate = data.items[index].volumeInfo.publishedDate;
                        var publisher = data.items[index].volumeInfo.publisher;
                        var authors = data.items[index].volumeInfo.authors;
                        // $('#lol').append('<tr><td>' +  title + '</td><td>' + authors + '</td><td>' + publisher + '</td><td>' + publishedDate +'</td><td><a href="#" id="itemLike" data-rating="" ><i class="fa fa-heart fa-2x text-liked" id="heart-icon"></i></a><b id="like-count"  >1</b></td></tr>' );
                        $('#lol').append('<tr><td>' +  title + '</td><td>' + authors + '</td><td>' + publisher + '</td><td>' + publishedDate +'</td><td><button class="button" id="' + index +'">like</button></td></tr>' );

                    }

                    $('.button').one( "click", function(){
                    // $('button').click(function(){
                        var title = data.items[this.id].volumeInfo.title;
                        var authors = data.items[this.id].volumeInfo.authors;
                        var publishedDate = data.items[this.id].volumeInfo.publishedDate;
                        var publisher = data.items[this.id].volumeInfo.publisher;
                        console.log('id: '+ this.id)

                        $.ajax({
                            //url:'liked/'+ title + '/' + authors + '/' + publisher + '/' + publishedDate,   // request url
                            url: "liked/" + this.id,
                            type:'GET',
                            data:{
                                'title': title,
                                'authors':authors,
                                'publisher':publisher,
                                'publishedDate':publishedDate,                                
                            },

                            success: function (data, status, xhr) {    // success callback function
                                // sconsole.log(this.id)
                    
                            }
                        });
                        
                        // }
                    }); //click
                } //if

            };
        xhttp.open("GET", "https://www.googleapis.com/books/v1/volumes?q="+str, true);
        xhttp.send(); 

        };
    </script>
</body>
</html>